  
  <article id="home_div">
    <div class="center-content">
      <h1 class="display-4 text-center">¡Bienvenido a Super Gamer, donde comienza la diversión!</h1>
      <p class="lead text-center">¡Nos alegra mucho tenerte aquí!</p>
      <img src="assets/img/TG1061356_0.webp" alt="Imagen tienda" class="centered-image">
    </div>
  </article>
  
  <section id="productos" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <i class="fas fa-certificate fa-3x mb-3"></i>
              <h4 class="card-title">Calidad</h4>
              <p class="card-text">Productos gamers full calidad garantizados.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <i class="fas fa-truck fa-3x mb-3"></i>
              <h4 class="card-title">Envíos Rápidos</h4>
              <p class="card-text">Recibe tu compra en tiempo récords.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-body">
              <i class="fas fa-headset fa-3x mb-3"></i>
              <h4 class="card-title">Soporte 24/7</h4>
              <p class="card-text">Atención al cliente en cualquier momento.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>