<article id="products_div">
  <h2 class="text-center">Nuestros Productos</h2>
  <div class="product-gallery">
    <div class="product-item">
      <img src="assets/img/TG1061356_1.webp" alt="Producto 1">
      <h3>Producto 1</h3>
      <p>Consolas de Videojuegos SuperGamer Terrible Brigidas.</p>
      <button (click)="addToCart(1)" class="btn btn-primary">Añadir al carrito</button>
    </div>
    <div class="product-item">
      <img src="assets/img/TG1061356_2.webp" alt="Producto 2">
      <h3>Producto 2</h3>
      <p>VideoJuegos Nuevos SuperGamer Ultra Pro Multiplataformas.</p>
      <button (click)="addToCart(2)" class="btn btn-primary">Añadir al carrito</button>
    </div>
    <div class="product-item">
      <img src="assets/img/TG1061356_3.webp" alt="Producto 3">
      <h3>Producto 3</h3>
      <p>Videojuegos y Accesorios Terrible Poco Usados.</p>
      <button (click)="addToCart(3)" class="btn btn-primary">Añadir al carrito</button>
    </div>
    <div class="product-item">
      <img src="assets/img/TG1061356_4.webp" alt="Producto 4">
      <h3>Producto 4</h3>
      <p>Accesorios SuperGamer Originales De Los Modernos.</p>
      <button (click)="addToCart(4)" class="btn btn-primary">Añadir al carrito</button>
    </div>
  </div>
</article>