<div class="container">
    <h2 class="text-center">Registro</h2>
    <form [formGroup]="miFormulario" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="nombre_completo">Nombre Completo:</label>
        <input type="text" id="nombre_completo" formControlName="nombre_completo" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="nombre_usuario">Nombre de Usuario:</label>
        <input type="text" id="nombre_usuario" formControlName="nombre_usuario" class="form-control">
      </div>
  
      <div class="form-group">
        <label for="correo">Correo Electrónico:</label>
        <input type="email" id="correo" formControlName="correo" class="form-control">
        <div *ngIf="miFormulario.get('correo')?.hasError('email')">
          Email no válido
        </div>
      </div>
  
      <div class="form-group">
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" formControlName="contraseña" class="form-control">
      </div>
  
      <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
  </div>
  